button{
    color:red;
}

#runbutton {
        color: #999999;
        background: #222222;
        padding: 40% 20% 20% 20%;
        border: none;

}

button:hover{
    color: blue;
    background: white;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none !important;
}